# common
GUSHER_REDIS_ADDR=127.0.0.1:6379

# slave mode
GUSHER_API_LISTEN=:8888
GUSHER_API_URI_PREFIX=/gcs/
GUSHER_DECODE_SERVICE=http://127.0.0.1:7777/api/decode

## master mode
GUSHER_MASTER_API_LISTEN=:7777
GUSHER_MASTER_URI_PREFIX=/api/
GUSHER_PUBLIC_PEM_FILE=test/key/public.pem ## rsa public key
