# common
GUSHER_REDIS_ADDR=127.0.0.1:6379
GUSHER_REDIS_MAX_IDLE=80
GUSHER_REDIS_MAX_CONN=800

# slave mode
GUSHER_API_LISTEN=:8888
GUSHER_API_URI_PREFIX=/gcs/
GUSHER_DECODE_SERVICE=http://127.0.0.1:7777/api/decode
GUSHER_WRITE_BUFFER=8192
GUSHER_READ_BUFFER=1024
GUSHER_RECEIVE_MAX_MESSAGE_SIZE=512
# second
GUSHER_LOG_SYS_INTERVAL=30
# second
GUSHER_SCAN_INTERVAL=30

## master mode
GUSHER_MASTER_API_LISTEN=:7777
GUSHER_MASTER_URI_PREFIX=/api/
GUSHER_PUBLIC_PEM_FILE=test/key/public.pem ## rsa public key
