# common
GUSHER_REDIS_ADDR=127.0.0.1:6379
GUSHER_LOGLEVEL=DEV ## DEV , PRODUCTION

# slave mode
GUSHER_API_LISTEN=:8000
GUSHER_MASTER_ADDR=127.0.0.1:1234
GUSHER_RETURN_SERVERINFO_INTERVAL=5

## master mode
GUSHER_MASTER_API_LISTEN=:7999
GUSHER_REMOTE_LISTEN=:1234
GUSHER_PUBLIC_PEM_FILE=test/key/public.pem ## rsa public key
