# common
GUSHER_REDIS_ADDR=127.0.0.1:6379
GUSHER_REDIS_DBNO=0 ##default 0
GUSHER_REDIS_MAX_IDLE=80 ##default
GUSHER_REDIS_MAX_CONN=800 ##default

## master mode
GUSHER_MASTER_API_LISTEN=:7777
GUSHER_MASTER_URI_PREFIX=/api/
GUSHER_PUBLIC_PEM_FILE=test/key/public.pem ## rsa public key
