GUSHER-CONN-TEST_WS_API=ws://127.0.0.1:8888/gcs/ws/TEST

GUSHER-CONN-TEST_WS_AUTH_API=http://127.0.0.1:8888/gcs/auth

GUSHER-CONN-TEST_PUSH_API=http://127.0.0.1:7777/api/push/TEST/AA/EVENT

GUSHER-CONN-TEST_JWT=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJndXNoZXIiOnsiYXBwX2tleSI6IlRFU1QiLCJjaGFubmVscyI6WyJBQSIsIkJCIl0sInJlbW90ZXMiOnsiY21kMSI6dHJ1ZX0sInVzZXJfaWQiOiJUZXN0X1VzZXIifX0.BWX7ifLKFoyu2cN6i_wI6ElASIdA17Ny7TmNwHre8xM45O94J5Unv1HFhlnJY_I1t-Aw-rUm4phkNmqdWr62iKSl6Cnp959lLRXphLXEfqgUArn4wwhT7xnTa3GiCveZgpvtqUsAa7XW4V_0_Sg1duD7EblQ2oFJbSFU84JCYp9OECDLCEaazr5SMl3mQOpQSa-PvMQ5k-3W_3wH_lArAziz7zTaD_jXFeztlCpCu1_rNlCGkgZUxMZGQQZYIP4jpHJjpjaPHbsUFoeNLeqKj0vWotOHsiJcIYp7U_U1-FiGMEWWAmii3UXlcrl9aXGz3i7AhUwxoTdWwjbjRY6i0A
GUSHER-CONN-TEST_SUBSCRIBE_MESSAGE={"event":"gusher.subscribe","data":{"channel":"AA"}}

GUSHER-CONN-TEST_SUBSCRIBE_RESPONSE={"event":"gusher.subscribe_succeeded","data":{"channel":"AA"}}

GUSHER-CONN-TEST_CONNECTIONS=100

GUSHER-CONN-TEST_PUSH_MESSAGE=WTF
